@{
    ViewData["Title"] = "SaldoInsuficiente";
}

<div class="text-center">
   
    <h2>Saldo insuficiente para a Compra</h2>
    <p>Uma nova tentativa pode ser realizada. Tente utilizar um valor menor</p>
    <button type="button" class="btn btn-info"@Html.ActionLink("Tentar Novamente","Vender")</button>
    <br>
    <br>
   
</div>